/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: ffffff;
    color: #333;
    text-align: center;
}

#app {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}